{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>YAWC</title>
		<!-- TODO: distribute this with application -->
		<script src="https://unpkg.com/vue"></script>
    </head>

    <body>

        <div>
			<h1>YAWC</h1>
			{% verbatim %}
			<div id="app">
				<input v-model="nextMessage" v-on:keyup.enter="send" placeholder="message">
  				<button v-on:click="send">Send</button>
				<ul>
					<li v-for="message in messages">
						{{ message }}
					</li>

				</ul>
			</div>
			{% endverbatim %}
        </div>

		<script type="application/javascript">
			window.clientUuid = "{{ client_uuid }}";
		</script>
		<script src="{% static "chat/js/chat.js" %}"></script>
    </body>
</html>
